body {
    font-family: "Raleway", sans-serif;
  }
  
h1 {
    color: black;
}
  
  #Hero-Section {
    color: black;
    background-image: url(/assets/images/descarga.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
  }
  
  
  
  #Contacto form label {
    font-weight: 700;
    color: #010507;
  }
  
  @media (max-width: 768px) {
    #Contacto form label {
      font-weight: 400;
    }
  
    .navbar-brand{
      width: 100px;
    }
  
  }
  